fastapi
uvicorn
llama-index==0.9.1
pydantic
python-dotenv
beautifulsoup4
pandas
PyPDF2
prometheus-client
requests
langchain
langchain-community
openai==0.28.1
google-generativeai
schedule
# Testing dependencies
pytest
pytest-cov
httpx